.banner {
  background-image: url(../../Images/OtherImage/bannerbackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 75vh;
}
.banner .search-box {
  position: relative;
}
.search-btn {
  position: absolute;
  top: 0;
  right: 15px;
  height: 100%;
}
.banner .form-control {
  border-radius: 25px;
  border: none;
  padding-left: 20px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .banner {
    height: 55vh;
  }
}
